.dropdown {
    display: none;
}
.show {
    display:block;
}
input[type=checkbox] {
    accent-color: theme('colors.red.500')
}
@tailwind components;
@layer components {
    .button-clicked {
        @apply bg-amber-500;
    }
    
}