:root {
    --searchHeight: 400px;
}

.manhwa-search-group::-webkit-scrollbar {
    display: none;
}

.search-bar-dropdown {
    width: 50vw;
}

.inputSearch {
    position: relative;
    width: 100%;
    outline: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.manhwa-search-group {
    max-height: var(--searchHeight);
    position: absolute;
    overflow: auto;
    padding-left:0px;
    width: inherit;
    margin-top:0px;
}